/* CSS for Module 2 Solution */

/********** Base styles **********/

* {
  box-sizing: border-box;
  font-family: "Comic Sans MS", cursive;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
}

.section {
  background-color: #777777;
  border: solid;
  border-width: 1px 1px 1px 1px;
  margin: 10px 10px 10px 10px;
  clear: both;
  float: left;
}

p {
  margin: 8px 8px 8px 8px;
  clear: both;
}

h2 {
  border: solid;
  border-width: 0px 0px 1px 1px;
  float: right;
  margin: 0px 0px 0px 0px;
  width: 150px;
  text-align: center;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

#chicken {
  background-color: #D67a7a;
}

#beef {
  background-color: #9C1919;
  color: #FFFFFF;
  border-color: #000000;
}

#sushi {
  background-color: #D4CB81;
}

/********** Mobile **********/
@media max-width: 767px {
   .col-sm-12 {
    float: left;
    width: 100%;
  }
}

/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** Desktop **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33%;
  }
}

